.register-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.register-form{
   background-color: rgb(121, 184, 239);
   width: 30%;
   border-radius: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 30px;
   margin: 10px;
}

.register-form input {
   margin: 15px;
   border: none;
   outline: none;
}
.register-form button{
   background-color: rgb(85, 87, 244) !important;
   box-shadow: none;
   color: whitesmoke;
   border: none;
   padding: 10px 30px;
   border-radius: 10px;
   cursor: pointer;
   margin-top: 30px;
}
 .register-form p{
   color: rgba(4, 4, 83);
}
.register-form button:hover{
   background-color: rgb(45, 48, 214) !important;
   transition: all .3s ;
}

.error-message{
  color: red;
}